body{
    font-family: 'Roboto', sans-serif;
    width: 120%;
    margin: 0;
}
.company-name{
    margin-left: 40px;
    line-height: 10px;
    font-style: italic;
    text-shadow: 20px 10px 50px orangered;
    font-weight: 900;
    font-size: 30px;
}
.header{
   display: flex;
   height: 150px;
   box-shadow: 20px 20px 50px gray;
   margin-bottom:  20px;
}
.header-information{
    text-decoration: none;
    margin-left: 60px;
    padding: 5px 5px;
    color: black;
    border-radius: 30px;
    font-weight: 700;
}
.header input{
    margin-top: 5px;
    margin-left: 200px;
    border-bottom: 2px solid orangered;
}
.header img{
    margin-top: 5px;
    margin-left: 5px;
}
.top-banner{
    margin-top: 80px;
    display: flex;
    width: 100%;
    margin-left: 5%;
}
.heading-text{
    font-size: 60px;
    font-weight: 900;
    opacity: 0.7;
    line-height: 40px;
}
.top-information{
    margin-top: 150px;
}
.welcome-details{
    text-align: justify;
    font-size: 20px;
    opacity: 0.6;
    margin-bottom: 10%;
}
.header-image{
    width: 60%;
}
.skip-color{
    color: orangered
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 50px;
}
.middle-banner{
   margin-top: 100px;
   margin-left: 2%;
   width: 80%;
   background-image: url(images/bg-image.png);
   background-repeat: no-repeat;
   background-size: auto;
   margin-bottom: 5%;
   
}
.middle-banner h1{
    font-size: 50px;
    margin-top: 100px;
}
.middle-banner p{
    text-align: justify;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 30px;
}
.middle-banner img{
    margin-left: 30px;
}
.recipe{
    text-align: center;
}
.recipe p{
    margin: 20px 450px;
}
.recipe h1{
   font-size: 40px;
}
.recipi-items{
    margin-top: 20px;
    box-shadow: 5px 5px 100px rgb(207, 207, 207);
    width: 20%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 30px;
}
.recipie-details img{
    margin-top: 20px;
    margin-left: 10px;
    width: 350px;
    height: 200px;
    border-radius: 40px;
}
.recipie-details h2{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
}
.recipie-details p{
    text-align: justify;
    padding: 5px 20px;
}
.followers-information{
    padding: 40px;
    margin-top: 200px;
    margin-left: 300px;
    box-shadow: 5px 5px 70px rgb(209, 209, 209);
    width: 45%;
    border-radius: 30px;
}
.followers-details{
    margin-left: 100px;
    text-align: center;
}
.followers-details h2{
    font-size: 50px;
    line-height: 5px;
}
.footer{
    margin-top: 60px;
    background-color: black;
    text-align: center;
    margin-right: 250px;
    padding: 20px
}
.network{
    color: rgb(141, 141, 141);
}
.copyright{
    color: tomato;
    font-size: 15px;
}
.footer p{
    color: white;
}



